[*.cs]

dotnet_diagnostic.HAA0102.severity = suggestion
dotnet_diagnostic.HAA0202.severity = suggestion
dotnet_diagnostic.HAA0302.severity = suggestion
dotnet_diagnostic.HAA0401.severity = suggestion
dotnet_diagnostic.HAA0501.severity = silent
dotnet_diagnostic.HAA0502.severity = silent
dotnet_diagnostic.HAA0601.severity = suggestion
dotnet_diagnostic.S101.severity = suggestion
dotnet_diagnostic.S1210.severity = suggestion
dotnet_diagnostic.S2365.severity = suggestion
dotnet_diagnostic.S3881.severity = suggestion
dotnet_diagnostic.S3925.severity = suggestion
dotnet_diagnostic.S3928.severity = suggestion
dotnet_diagnostic.RCS1001.severity = silent
dotnet_diagnostic.RCS1079.severity = warning
dotnet_diagnostic.RCS1090.severity = warning
dotnet_diagnostic.RCS1123.severity = warning
dotnet_diagnostic.RCS1225.severity = warning
dotnet_diagnostic.RCS1170.severity = warning
dotnet_diagnostic.RCS1194.severity = suggestion
